extends ../../layout

block content
  :markdown
    ### FB.Canvas.stopTimer
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.stopTimer](/reference/javascript/FB.Canvas.stopTimer)
    ---
    #### 개요
