extends ../../layout

block content
  :markdown
    ### FB.Canvas.Prefetcher.setCollectionMode
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.Prefetcher.setCollectionMode](/reference/javascript/FB.Canvas.Prefetcher.setCollectionMode)
    ---
    #### 개요
