extends ../../layout

block content
  :markdown
    ### FB.Canvas.showFlashElement
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.showFlashElement](/reference/javascript/FB.Canvas.showFlashElement)
    ---
    #### 개요
