extends ../../layout

block content
  :markdown
    ### FB.Canvas.setSize
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.setSize](/reference/javascript/FB.Canvas.setSize)
    ---
    #### 개요
