extends ../../layout

block content
  :markdown
    ### FB.Canvas.startTimer
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.startTimer](/reference/javascript/FB.Canvas.startTimer)
    ---
    #### 개요
