extends ../../layout

block content
  :markdown
    ### FB.Canvas.setAutoGrow
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.setAutoGrow](/reference/javascript/FB.Canvas.setAutoGrow)
    ---
    #### 개요
