extends ../../layout

block content
  :markdown
    ### FB.Canvas.setUrlHandler
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.setUrlHandler](/reference/javascript/FB.Canvas.setUrlHandler)
    ---
    #### 개요
