extends ../../layout

block content
  :markdown
    ### FB.Canvas.Prefetcher.addStaticResource
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.Prefetcher.addStaticResource](/reference/javascript/FB.Canvas.Prefetcher.addStaticResource)
    ---
    #### 개요
