extends ../../layout

block content
  :markdown
    ### FB.Canvas.hideFlashElement
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.hideFlashElement](/reference/javascript/FB.Canvas.hideFlashElement)
    ---
    #### 개요
