extends ../../layout

block content
  :markdown
    ### FB.Canvas.getPageInfo
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Canvas.getPageInfo](/reference/javascript/FB.Canvas.getPageInfo)
    ---
    #### 개요
