extends ../../layout

block content
  :markdown
    ### FB.Event.subscribe
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Event.subscribe](/reference/javascript/FB.Event.subscribe)
    ---
    #### 개요
