extends ../../layout

block content
  :markdown
    ### FB.Event.unsubscribe
    ###### [SDK Reference](#) > [javaScript](#) > [FB.Event.unsubscribe](/reference/javascript/FB.Event.unsubscribe)
    ---
    #### 개요
