extends ../../layout

block content
  :markdown
    ### FB.getLoginStatus
    ###### [SDK Reference](#) > [javaScript](#) > [FB.getLoginStatus](/reference/javascript/FB.getLoginStatus)
    ---
    #### 개요
