extends ../../layout

block content
  :markdown
    ### FB.init
    ###### [SDK Reference](#) > [javaScript](#) > [FB.init](/reference/javascript/FB.init)
    ---
    #### 개요
    [JavaScript SDK 로딩](#)이 완료된 후, 초기화를 위해 당신의 app ID를 사용하여 FB.init를 호출하십시오. 이것은 당신이 Facebook API를 호출할 수 있도록 합니다.

    **노트**: 만약 당신이 app ID를 사용하고 있다면, 모든 메소드는 **반드시** FB.init 이후에 호출되어야 합니다.
    #### 파라메터
    이름 | 종류 | 설명
    --- | --- | ---
    options | Object | 옵션은 아래를 참조하십시오.

    #### 옵션들
    Property | Type | Description | Argument | Default
    --- | --- | --- | --- | ---
    <span class="green">appId</span> | String | 어플리케이션 ID | Optional | null
    <span class="green">cookie</span> | Boolean | true로 cookie를 지원 | Optional | false
    <span class="green">logging</span> | Boolean | false로 로깅을 중지 | Optional | true
    <span class="green">status</span> | Boolean | true 로 최신의 상태를 가져옴 | Optional | true
    <span class="green">xfbml</span> | Boolean | true 로 XFBML 테그들을 파싱 | Optional | false
    <span class="green">channelUrl</span> | String | 사용자 정의 채널파일의 URL을 지정합니다. 이 파일은 자바스크립트 SDK의 URL을 가르키는 하나의 스크립트 요소를 포함해야 합니다. | Optional | null
    <span class="green">authResponse</span> | Object | getAuthResponse에서 검색할 객체를 수동으로 설정합니다. | Optional | true
    <span class="green">frictionlessRequests</span> | boolean | [Frictionless Requests](#) 보기 | Optional | false
    <span class="green">hideFlashCallback</span> | Object | [Custom Flash Hide Callback](#) 보기 | Optional | null
