extends ../../layout

block content
  :markdown
    ### FB.ui
    ###### [SDK Reference](#) > [javaScript](#) > [FB.ui](/reference/javascript/FB.ui)
    ---
    #### 개요
    FB.ui는 사용자가 어떤 작업을 수행할 수 있도록 해주는 [Dialogs](#)를 실행할 수 있는 일반적인 핼퍼 메서드입니다.

    dialogs의 종류는 다음과 같습니다 :
    
    - [Feed Dialog](#)로 자신이나 친구들의 담벼락에 글을 게시할 수 있습니다.
    - [OAuth Dialog](#)로 사용자가 응용프로그램에 권한을 부여할 수 있습니다. 이것은 인증 과정에 일부입니다.
    - [Add Page Tab](#)로 관리하는 페이스북 페이지에 응용프로그램을 추가할 수 있습니다.
    - [Friends Dialog](#)로 다른 사용자에게 친구 요청을 보낼 수 있습니다.
    - [Pay Dialog](#)로 페이스북 크래딧을 이용하여 결제를 할 수 있도록 합니다.
    - [Requests Dialog](#)로 자신의 친구 한명, 혹은 그 이상에게 요청을 보낼 수 있습니다.
    - [Send Dialog](#)로 자신의 친구 한명, 혹은 그 이상에게 페이스북 메시지를 보낼 수 있습니다.

    #### 예제
    [Feed Dialog](#)를 호출하고, 메소드로 <span class="green">feed</span>를 사용하며, 선택적으로 [Feed Dialog](#) 문서에 기술된 다른 속성을 지정할 수 있습니다 :
    ~~~~
    FB.ui(
      {
        method: 'feed',
        name: 'Facebook Dialogs',
        link: 'http://developers.facebook.com/docs/reference/dialogs/',
        picture: 'http://fbrell.com/f8.jpg',
        caption: 'Reference Documentation',
        description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
      },
      function(response) {
        if (response && response.post_id) {
          alert('Post was published.');
        } else {
          alert('Post was not published.');
        }
      }
    );
    ~~~~
    #### 파라메터
    <table>
      <tbody>
      <tr>
        <th>이름</th>
        <th>종류</th>
        <th>설명</th>
      </tr>
      <tr>
        <td class="name">params</td>
        <td class="type">Object</td>
        <td>
          <p>사용되는 메서드에 따라 필수 인수는 다르지만, 메서드 자체는 반드시 지정해야 합니다. [Dialogs documentation](#)에서 메서드 값으로 사용할 수 있는 dialog의 전체 목록을 찾아주시기 바랍니다. 만약 <em>display</em>가 지정되어 있지 않으면, 우선 iframe이 사용되고, iframe사용이 불가능한 경우 popup이 사용됩니다.</p>
          <table>
            <thead>
            <tr>
              <th>속성</th>
              <th>종류</th>
              <th>설명</th>
              <th>인수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>method</td>
              <td>String</td>
              <td>호출할 UI Dialog</td>
              <td><strong>필수</strong></td>
            </tr>
            <tr>
              <td>display</td>
              <td>String</td>
              <td><span class="green">"popup"</span> 으로 팝업으로 뜨도록 합니다.<br>다른 디스플레이 타입은 [Dialogs docs](#)을 참고하시기 바랍니다.</td>
              <td><strong>선택</strong></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="name">cb</td>
        <td class="type">Function</td>
        <td>
          <p>결과를 제어하기 위한 콜백함수입니다. Not all methods may have a response.</p>
        </td>
      </tr>
      </tbody>
    </table>
        

