h5
  a(href="#") SDK Reference
ul
  li
    a(href="#")
      b javaScript SDK
  li
    a(href="#") PHP SDK
  li
    a(href="#") iOS SDK
  li
    a(href="#") Android SDK
  li
    a(href="#") Third-Party SDKs
  li
    a(href="#") Facebook Technology Partners

hr
h6 Core Methods
ul
  li
    a(href="/reference/javascript/FB.api") FB.api
  li
    a(href="/reference/javascript/FB.init") FB.init
  li
    a(href="/reference/javascript/FB.ui") FB.ui
h6 Auth Methods
ul
  li
    a(href="/reference/javascript/FB.getAuthResponse") FB.getAuthResponse
  li
    a(href="/reference/javascript/FB.getLoginStatus") FB.getLoginStatus
  li
    a(href="/reference/javascript/FB.login") FB.login
  li
    a(href="/reference/javascript/FB.logout") FB.logout
h6 Event Handling
ul
  li
    a(href="/reference/javascript/FB.Event.subscribe") FB.Event.subscribe
  li
    a(href="/reference/javascript/FB.Event.unsubscribe") FB.Event.unsubscribe
h6 XFBML
ul
  li
    a(href="/reference/javascript/FB.XFBML.parse") FB.XFBML.parse
h6 Canvas Methods
ul
  li
    a(href="/reference/javascript/FB.Canvas.Prefetcher.addStaticResource") FB.Canvas.Prefetcher.addStaticResource
  li
    a(href="/reference/javascript/FB.Canvas.Prefetcher.setCollectionMode") FB.Canvas.Prefetcher.setCollectionMode
  li
    a(href="/reference/javascript/FB.Canvas.getPageInfo") FB.Canvas.getPageInfo
  li
    a(href="/reference/javascript/FB.Canvas.hideFlashElement") FB.Canvas.hideFlashElement
  li
    a(href="/reference/javascript/FB.Canvas.scrollTo") FB.Canvas.scrollTo
  li
    a(href="/reference/javascript/FB.Canvas.setAutoGrow") FB.Canvas.setAutoGrow
  li
    a(href="/reference/javascript/FB.Canvas.setDoneLoading") FB.Canvas.setDoneLoading
  li
    a(href="/reference/javascript/FB.Canvas.setSize") FB.Canvas.setSize
  li
    a(href="/reference/javascript/FB.Canvas.setUrlHandler") FB.Canvas.setUrlHandler
  li
    a(href="/reference/javascript/FB.Canvas.showFlashElement") FB.Canvas.showFlashElement
  li
    a(href="/reference/javascript/FB.Canvas.startTimer") FB.Canvas.startTimer
  li
    a(href="/reference/javascript/FB.Canvas.stopTimer") FB.Canvas.stopTimer
