h5
  a(href="#") SDK Reference
ul
  li
    a(href="#")
      b javaScript SDK
  li
    a(href="#") PHP SDK
  li
    a(href="#") iOS SDK
  li
    a(href="#") Android SDK
  li
    a(href="#") Third-Party SDKs
  li
    a(href="#") Facebook Technology Partners

hr
h6 Core Methods
ul
  li
    a(href="#") FB.api
  li
    a(href="#") FB.init
  li
    a(href="#") FB.ui
h6 Auth Methods
ul
  li
    a(href="#") FB.getAuthResponse
  li
    a(href="#") FB.getLoginStatus
  li
    a(href="#") FB.login
  li
    a(href="#") FB.logout
h6 Event Handling
ul
  li
    a(href="#") FB.Event.subscribe
  li
    a(href="#") FB.Event.unsubscribe
h6 XFBML
ul
  li
    a(href="#") FB.XFBML.parse
h6 Canvas Methods
ul
  li
    a(href="#") FB.Canvas.Prefetcher.addStaticResource
  li
    a(href="#") FB.Canvas.Prefetcher.setCollectionMode
  li
    a(href="#") FB.Canvas.getPageInfo
  li
    a(href="#") FB.Canvas.hideFlashElement
  li
    a(href="#") FB.Canvas.scrollTo
  li
    a(href="#") FB.Canvas.setAutoGrow
  li
    a(href="#") FB.Canvas.setDoneLoading
  li
    a(href="#") FB.Canvas.setSize
  li
    a(href="#") FB.Canvas.setUrlHandler
  li
    a(href="#") FB.Canvas.showFlashElement
  li
    a(href="#") FB.Canvas.startTimer
  li
    a(href="#") FB.Canvas.stopTimer
